﻿<!DOCTYPE html>
<html lang="it">
  <head>
    <script src="js/angular.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <script type="text/javascript" src="datepicker/js/moment.min.js"></script>
    <script type="text/javascript" src="datepicker/js/moment-with-locales.js"></script>
    <script type="text/javascript" src="datepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="datepicker/js/datetimepickerDirective.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="datepicker/css/bootstrap-datetimepicker.css">

    <title>Transazioni fiscali</title>
    <script src="Scripts/transazioni.js"></script>
</head>

<body >

<div ng-app="transazioniApp" ng-controller="transazioniController">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Client Riepiloghi</a>
      <ul class="nav navbar-nav"><li class="#"><a href="#">Cod.Sistema {{ CodiceSistema }}</a></li></ul>
    </div>
    <div ng-controller="menuController">
      <ul class="nav navbar-nav">
        <li ng-repeat="option in menuItems" class="{{ option.className }}"><a href="{{ option.page }}">{{ option.description }}</a></li>
      </ul>
    </div>
  </div>
</nav>

<p>

<!--<div ng-controller="dataController">
<div class="row">
    <div class="col-sm-2">
        <nav class="navbar navbar-default">
            <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                <thead>
                    <tr><td colspan="7">&nbsp;</td></tr>
                    <tr>
                        <td align="center" ><button type="button" class="btn btn-default btn-xs" ng-click="SetDateCalendarPrevMonth(dCalenbdario)"><span class="glyphicon glyphicon-menu-left"></span></button></td>
                        <td align="center" colspan="5">{{ dCalendario | date: 'dd' }} {{ GetMonthDesc(dCalendario) }} {{ dCalendario | date: 'yyyy' }}</td>
                        <td align="center" ><button type="button" class="btn btn-default btn-xs" ng-click="SetDateCalendarNextMonth(dCalenbdario)"><span class="glyphicon glyphicon-menu-right"></span></button></td>
                    </tr>
                    <tr>
                        <td align="center" ng-repeat="day in days">{{ day.Simbol }}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="aRow in getArrayCalendar(dCalendario)">
                        <td ng-repeat="day in aRow"  align="center" >
                            <button type="button" class="btn btn-link btn-xs" ng-show="!IsDateCalendar(day, dCalendario)" ng-click="SetDateCalendar(day)">{{ getNumberOfDay(day) }}</button>
                            <button type="button" class="btn btn-default btn-xs" ng-show="IsDateCalendar(day, dCalendario)">{{ getNumberOfDay(day) }}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </nav>
    </div>
</div>

</div>-->



</p>
    <br />
    <br />
    <br />

<form role="form">





    <label>Dalla data:  </label><input type="date" ng-model="dInizio" />
    <label>Alla data:  </label><input type="date" ng-model="dTermin"/>
        
    <p>Pagina: {{ nPage }} di {{ nPages }}</p>
    <p>Righe per pagina: {{ nRowsPerPage }} </p>
    <p>Righe: {{ nRowsTransazioni }} </p>
    
    <p>
    <label>Dalla data: {{ dInizio | date : 'dd-MM-yyyy' }}</label>
    <label>Alla data: {{ dTermin | date : 'dd-MM-yyyy' }}</label>
    </p>
    <p>Ordinamento: {{ sortDesc }}</p>
    <a href="#" ng-show="!loadingTransazioni" ng-click="getTransazioniFunction()">Carica</a>
    <label ng-show="loadingTransazioni">Caricamento in corso...</label><img ng-show="loadingTransazioni" src="images/animatedEllipse.gif" height="20" width="20">
    
<table class="table table-bordered table-striped">
    <tr>
        <td>
    <table>
        <tr ng-repeat="Header in fields">
            <td><span class="li">{{ Header.FieldDesc }} </span></td>
            <td><span class="li">{{ RowSelected[Header.FieldName] }} </span></td>
        </tr>
    </table>
            </td>
        <td>

<table class="table table-bordered table-striped">
<thead>
    <tr>
        <td></td>
        <td ng-repeat="hd in fields">
            <a href="#" ng-click="orderFunction(hd.FieldName)">
                <span style="white-space:nowrap">{{hd.FieldDesc}}</span>
            </a>
            <span ng-show="sortType == hd.FieldName && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == hd.FieldName && sortReverse" class="fa fa-caret-up"></span>
        </td>
    </tr>
    <tr>
        <td></td>
        <td ng-repeat="Header in fields">
            <span>
                <div ng-show="Header.canSelect == 'FALSE'">
                    <input type="text" class="form-control" ng-model="Header.FilterValue" placeholder="...">
                </div>
                <div ng-show="Header.canSelect == 'TRUE'">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">{{ Header.FilterDesc }}
                            <input type="text" class="form-control" disabled ng-model="Header.FilterValue" ng-show="Header.FilterValue != ''" placeholder="...">
                            <span ng-show="Header.FilterDesc == ''" class="li">{{ Header.FieldDesc }} </span><span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu10">
                            <li  role="presentation" ng-repeat="SingleFilter in Header.FieldPreFilters"><a role="menuitem" ng-click="dropboxitemselected(SingleFilter)" tabindex="-1" href="#">{{ SingleFilter.FieldDesc }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </span>
        </td>
    </tr>
</thead>
<tbody ng-show="!loadingTransazioni">
    <tr ng-animate="'animate'"  ng-repeat="row in rows | orderBy:sortType:sortReverse | filter: filterFunction">
        <td><input type="radio" name="CheckBoxSelectedRow" ng-click="SetRowIndexSelected(row)"/></td>
        <td ng-repeat="hd in fields"><span>{{row[hd.FieldName]}}</span></td>
    </tr>
</tbody>
</table>
        </td>
    </tr>

</form>


</div>


</body>

</html>
