﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
	<meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <script>
        var app = angular.module('ClientWebAppBordero', []);
        app.controller('ClientWebAppBorderoCtrl', function ($scope, $http, $window) {
            $scope.DatiBordero = null;
            $scope.IdRichiestaBordero = 0;
            $scope.GetFilesBorderoTest = function () {
                $http({
                    method: 'POST',
                    url: 'http://localhost:40681/api/WebAppBordero/GetTest'
                }).then(function (response) {
                    $scope.DatiBordero = response.data;
                    var pdfFile = new Blob([$scope.DatiBordero.Pdfs[0]], { type: 'application/pdf' });
                    var pdfFileUrl = URL.createObjectURL(pdfFile);
                    $window.open(pdfFileUrl);
                });

            }
        });
    </script>    
    
    <div ng-app="ClientWebAppBordero">
        <div ng-controller="ClientWebAppBorderoCtrl">
            <button ng-click="DatiBordero = GetFilesBorderoTest()">TEST</button>
            <div ng-if="DatiBordero">
                {{ DatiBordero }}
            </div>
        </div>
    </div>
</body>
</html>
