<!DOCTYPE html>
<html ng-app="serviceConsumer">
<head>
    <title>consume JSON web service</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
	<script src="serviceConsumer.js"></script>
</head>
<body>
    <div ng-controller="getTabController">
            <table>
                <tr ng-repeat="i in TRANSAZIONI">
                    <td>
                        {{i.IDVEND}}
                    </td>
                </tr>
            </table>
        <br />
    </div>
</body>
</html>
